
.fi-sidebar-header,
.fi-topbar nav {
    background: #017840 !important;
}

.fi-icon-btn-icon {
    stroke: white;
    stroke-width: 2;
}
.fi-logo {
    color: white !important;
}

html {
    scroll-behavior: smooth;
}