@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/App/**/*.php';
@source '../../../../resources/views/filament/app/**/*.blade.php';
@source '../../../../vendor/filament/**/*.blade.php';
