@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Candidato/**/*';
@source '../../../../resources/views/filament/candidato/**/*';
@source '../../../../resources/views/filament/**/*';